<% if (currentUser && currentUser.id === post.author._id.toString()) { %>
<a class="btn btn-secondary mt-3" href="/posts/<%= post._id %>/edit">Edit</a>
<form action="/posts/<%= post._id %>/delete" method="post" class="d-inline">
  <button class="btn btn-danger mt-3">Delete</button>
</form>
<% } %>
